@mixin display {
  @media (max-width: 700px) {
    @content;
  }
}
@mixin display-mobile {
  @media (max-width: 500px) {
      @content;
  }
}

@mixin reset {
  margin: 0;
  padding: 0;
}

* {
  font: {
    size: 14px;
    family: sans-serif;
  }
  color: #555;
}

body {
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  &__primary {
    display: flex;
    justify-content: center;
    align-items: center;
    // flex-direction: column;
    height: 100vh;
    background-color: #eee;
    width: 50%;
    @include display {
      width: 100%;
    }
  }
  &__form-wrapper {
    width: 250px;
  }
  &__img-wrapper {
    margin-bottom: 16px;
    line-height: 0;
    display: flex;
    justify-content: center;
  }
  &__image {
    height: 96px;
  }
  &__left-img {
    width: 50%;
    height: 100vh;
    background: url("https://images.unsplash.com/photo-1550757749-617f5cd8b197?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1000&h=2000&fit=crop&ixid=eyJhcHBfaWQiOjF9");
    background-size: cover;
    background-position: center;
    @include display {
      display: none;
    }
  }
}

.login-form, .signup-form {
  background-color: #fff;
  padding: 24px 16px 24px 16px;
  margin-bottom: 16px;
  box-shadow: -2px 3px 8px 0 rgba(0, 0, 0, 0.23);

  &__input-name {
    display: block;
    margin-bottom: 2px;
  }
  &__input {
    margin-bottom: 16px;
    padding: 6px 8px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #bbb;
    background-color: #eee;
    box-shadow: 0px 0px 1px 1px rgba(238,238,238,1);
  }
  &__btn-group {
    display: flex;
    justify-content: space-between;
  }

  &__remember-checkbox {
    margin: 0;
  }

  &__login-btn {
    border: none;
    background-color: #1990e5;
    color: #fff;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
  }

  &__link {
    text-decoration: none;
    font: {
      size: 12px;
      weight: 600;
    }
    padding-left: 16px;
    display: block;
    margin-bottom: 16px;
    &:last-child {
      margin-bottom: 16px;
    }
  }  
}

.account-recovery-form {
  background-color: #fff;
  padding: 24px 16px 24px 16px;
  margin-bottom: 16px;
  box-shadow: -2px 3px 8px 0 rgba(0, 0, 0, 0.23);
  text-align: center;
  &__title {
    @include reset;
    font-size: 1.5em;
    margin-bottom: 16px;
  }
  &__btn-group {
    display: flex;
    justify-content: center;
  }
  &__input {
    margin-bottom: 16px;
    padding: 6px 8px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #bbb;
    background-color: #eee;
    box-shadow: 0px 0px 1px 1px rgba(238,238,238,1);
  }
  &__link {
    text-decoration: none;
    font: {
      size: 12px;
      weight: 600;
    }
    padding-left: 16px;
    display: block;
  }
  &__submit-btn {
    border: none;
    background-color: #1990e5;
    color: #fff;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
  }

  &__input-name {
    display: block;
    margin-bottom: 16px;
  }
}

.topnav {
  width: 100%;
  padding: 10px 0;
  background-color: #fff;
  &__container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }
  &__logo-wrapper {
    // line-height: 0;
    display: flex;
  }
  &__logo {
    height: 60px;
    width: 60px;
    margin-right: 16px;
  }
  &__title {
    @include reset;
    align-self: center;
    font-size: 2em;
    text-transform: uppercase;
  }

  &__item-list {
    display: flex;
    align-items: center;
  }

  &__item {
    margin-right: 32px;
    text: {
      decoration: none;
      transform: uppercase;
    }
    &:last-child {
      margin-right: 0;
    }
  }

}

.main {
  &__image-holder {
    height: calc(100vh - 80px);
    width: 100%;
    display: flex;
    position: relative;
  }
  &__img {
    height: 100%;
    width: 100%;
    position: absolute;
  }
  &__image-holder:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.3);
    z-index: 1;
  }
  &__content-wrapper {
    position: absolute;
    z-index: 2;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
  }
  &__title, &__content-description {
    @include reset;
    margin-bottom: 24px;
    color: #fff;
  }
  &__title {
    font: {
      size: 4em;
      weight: 400;
    }
  }
  &__content {
    width: 100%;
    text-align: center;
  }

  &__content-link {
    color: #fff;
    text: {
      decoration: none;
      transform: uppercase;
    }
    border: none;
    background-color: #1990e5;
    padding: 16px 32px;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    margin-right: 8px;
    &:last-child {
      margin-right: 0;
    }
  }

  &__signup-btn {
    color: #1990e5;
    border: 1px solid #1990e5;
    background-color: transparent;
  }
}

.signup-form {
  &__btn-group {
    display: flex;
    justify-content: center;
  }
}
